link(type='text/css', rel='stylesheet', href='/css/pc/demo.css')
script(type='text/javascript', src='/js/lib/fusuma.js')
script(type='text/javascript', src='/js/lib/ganpuku.js')
script(type='text/javascript', src='/js/lib/bootstrap-twipsy.js')
script(type='text/javascript', src='/js/lib/bootstrap-popover.js')
script(type='text/javascript', src='/js/lib/en.js')
script(type='text/javascript', src='/js/lib/context-dial.js')
script(type='text/javascript', src='/js/pc/demo_data.js')
script(type='text/javascript', src='/js/pc/demo.js')
