meta(name='viewport', content='width=device-width, initial-scale=1')
link(type='text/css', rel='stylesheet', href='/css/jquery.mobile-1.0.min.css')
script(type='text/javascript', src='/js/lib/jquery-1.7.js')
script(type='text/javascript', src='/js/lib/jquery.mobile-1.0.min.js')
script(type='text/javascript', src='/js/flowr.js')
script(type='text/javascript', src='/js/'+type+'/view.js')
script
  $(function(){
    FLOWR.attribute = {
      host : "#{host}",
      api  : "#{api}"
    };
  });
