script(type = 'text/javascript', src = '/socket.io/socket.io.js')
script(type = 'text/javascript', src = '/js/lib/en.js')
script(type = 'text/javascript', src = '/js/lib/context-dial.js')
script
  $(function(){
    FLOWR.attribute.user = {
      exists    :  #{user.exists},
      _id       : "#{user._id}",
      name      : "#{user.name}",
      user_id   : "#{user.user_id}"
    };
  });
script(type='text/javascript', src='/js/' + type + '/zapping_data.js')
script(type='text/javascript', src='/js/' + type + '/zapping.js')
