div(data-role='footer', id='footer', data-position='fixed')
  div(data-role='navbar')
    ul
      li
        a(href='/', class='dashboard') コンテンツの閲覧
      li
        a(href='/control', class='control') リストを操作する
      li
        a(href='/zapping', class='zapping') ディスプレイを操作する
