!!! 5
html(lang="ja")
  head
    include includes/head/common
    include includes/head/demo
    title demo
  body
    #feedback(title='', data-content='')
    #content-frame
      ul
        li
          iframe(id='content', marginheight=0, marginwidth=0, hspace=0, vspace=0, allowtransparency=false, frameborder=0)
    #control
