!!! 5
html(lang="ja")
  head
    include includes/head/common
    link(type='text/css', rel='stylesheet', href='/css/bootstrap.css')
    title 新規登録の完了 / flowr
  body
    h1= 'ようこそ'+user.user_id+'さん'
    〜さんのチャンネルをつくりました
    ダッシュボードからお気に入りのチャンネルをみつけてください
