!!! 5
html(lang='ja')
  head
    include includes/head/common
    title ログイン / flowr
  body
    div(data-role='page')
      include includes/header
      div(data-role='content')
        h1 FLOWR - ログイン
        p ユーザ名とパスワードを入力してログインしてください
        form(action='/login', method='post')
          label(for='user_id', class='ui-hidden-accessible') ユーザID
          input(type='text', name='user_id', id='user_id', value='', placeholder='ユーザID')
          label(for='password', class='ui-hidden-accessible') パスワード
          input(type='password', name='password', id='password', value='', placeholder='パスワード')
          input(type='hidden', name='csrf', value=csrf)
          button(type='submit', data-theme='a') ログインする
